// Blue
$main: rgba(22, 25, 47, 1)
// Red
$secondary: rgba(148, 39, 39, 1)
// Grey
$accent: rgba(143, 147, 151, 1)

$white: rgb(255, 255, 255)
$dark: #222


// Text colors
$text-main: $main
$text-inverse: $white
$text-accent: $accent
$text-secondary: $main
