.promo
  .bg-primary
    text-align: left
    padding-left: 7%
    padding-top: 10em
    padding-bottom: 5.5em

.img-box
  background: url(../img/social.jpg)
  background-size: cover
  background-position: center
